:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .wrapper {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .toolbar {
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    flex-shrink: 0;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .user_menu {
    position: absolute;
    right: 0;
    height: 32px;
  }

  .user_menu_button {
    border-width: 0px;
    height: 32px;
    background-color: rgb(210, 230, 230);
  }

  .user_menu_panel {
    display: grid;
    grid-template-columns: 32px max-content;
    position: absolute;
    right: 0;
    z-index: 1000000;
    /* width: 250px; */
    /* height: 200px; */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 120ms,opacity 120ms ease;
    background-color: rgb(210, 230, 230);
    color: #333;
    border-width: 0px;
  }

  .user_menu_panel>a {
    margin-left: 5px;
    grid-column: 2;
  }
  
  .user_menu_panel_visible {
    opacity: 1;
    visibility:visible;
  }


.footer {
  height: 10%;
  /* display: flex; */
  align-items: center;
  background-color: #1976d2;
  color: white;
  flex-shrink: 0;
}


  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    background-color: #1976d2;
    color: white;

  }

  footer a {
    display: flex;
    align-items: center;
  }
