<div class="example_cont" [ngClass]="componentOrderStyle">
    <div class="example_margins" [ngClass]="wordTextDirectionStyle">
        {{example.text}}
    </div>
    <div *ngFor="let transl of example.translations; index as i" class="example_margins" 
         [ngClass]="exampleTranslations[i].compOrederStyle">
        <app-langmark [lang]="exampleTranslations[i].lang"></app-langmark>
        <div [ngClass]="exampleTranslations[i].inputDirectStyle">{{exampleTranslations[i].translationsAsString}}</div>
    </div>
</div>
