<div>

    <div>
        <div *ngIf="isExampleTranslation; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><label for="" [ngClass]="transTextDirectStyle">Please enter the example's translation</label></ng-template>
        <ng-template #elseBlock><label for="" [ngClass]="transTextDirectStyle">Please enter one or more transaltions of the word, separated by comma(,) or semicolon(;)</label></ng-template>
        <div class="translations_form_remaining_chars" [ngClass]="componentOrderStyle">
            <label [ngClass]="transTextDirectStyle">Please mind that you cannot enter more than {{textMaxLength}} characters.</label>
            <span [ngClass]="transTextDirectStyle">{{remainingCharacters}}</span>
        </div>
    </div>
    <input type="text" 
           [ngClass]="transTextDirectStyle" [formControl]="translation" 
           [attr.size]="inputSize" [attr.maxlength]="textMaxLength">
    
</div>
