<div>
    <div class="noun_form_word_wrapper" [ngClass]="compOrderStyle">
        <app-langmark [lang]="fromLang"></app-langmark>
        <div class="noun_form_vert_alignment_box">
            <label for="" [ngClass]="labelDirectStyle">Singular:</label>
            <input type="text" [ngClass]="inputDirectStyle" 
                    size="30" maxlength="50"
                    [(ngModel)]="noun.singularFullForm">
        </div>
        <div class="noun_form_singular_plural_sep">{{fromLangSettings.noun_singular_plural_sep}}</div>
        <div class="noun_form_vert_alignment_box">
            <label for="" [ngClass]="labelDirectStyle">Plural:</label>
            <input type="text" [ngClass]="inputDirectStyle"
                    size="30" maxlength="50" 
                    [(ngModel)]="noun.pluralFullForm">
        </div>
        <!-- <div class="noun_form_el_margins noun_form_vert_alignment_box">
            <label for="" [ngClass]="labelDirectStyle">Transliteration:</label>
            <input type="text" [ngClass]="inputDirectStyle"
                    size="30" maxlength="50" 
                    [(ngModel)]="noun.transliteration">
        </div> -->
    </div>
    <div class="noun_form_word_wrapper" [ngClass]="compOrderStyle">
        <div class="noun_form_el_margins noun_form_vert_alignment_box">
            <label for="">Gender:</label>
            <select name="" id="" [(ngModel)]="noun.gender">
                <option value=" "> </option>
                <option *ngFor="let gender of characteristics.gender.objectOfInterest" 
                        [ngValue]="gender.type">{{gender.description}}</option>
            </select>
        </div>
        <div class="noun_form_vert_alignment_box">
            <label for="">Declination type:</label>
            <select name="" id="" [(ngModel)]="noun.declination_type">
                <option value=" "> </option>
                <option *ngFor="let decType of characteristics.declination_type.objectOfInterest" 
                        [ngValue]="decType.type">{{decType.description}}</option>
            </select>
        </div>
        <div class="noun_form_el_margins noun_form_vert_alignment_box">
            <label for="">Animate:</label>
            <select name="" id="" [(ngModel)]="noun.animate">
                <option value=" "> </option>
                <option *ngFor="let animate of characteristics.animate.objectOfInterest" 
                        [ngValue]="animate.type">{{animate.description}}</option>
            </select>
        </div>
    </div>
    <div class="inline_flex_items_at_end" *ngFor="let transl of translations; index as i"
         [ngClass]="transl.compOrederStyle">
        <app-langmark [lang]="transl.lang"></app-langmark>
        <app-text-form  [componentOrderStyle]="transl.compOrederStyle" 
                        [labelDirectStyle]="transl.labelDirectStyle" 
                        [inputDirectStyle]="transl.inputDirectStyle"
                        [labelText]="translationLabelText"
                        [(textFromParent)]="transl.translationsAsString">
        </app-text-form>
    </div>
    <div *ngIf="availableLangsForTrans.length > 0">
        <button (click)="onAddTranslation()">Add translation</button>
        <select name="" id="" [(ngModel)]="langForTrans">
            <option *ngFor="let langForTransl of availableLangsForTrans" 
                    [ngValue]="langForTransl.lang">{{langForTransl.description}}</option>
        </select>
    </div>

    <div class="noun_form_examples_pane">
        <app-examples-form [(examples)]="noun.examples">
        </app-examples-form>
    </div>
</div>
