<div class="med_cont">
    <span class="med_name_class">Name</span>
    <p class="med_short_present_text">
        <img [src]='photoURL' alt="" class="med_img_class">
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        <!-- {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br>
        {{shortSelfPresent}}<br> -->
    </p>
    <a class="med_schedule_meeting">Schedule a meeting</a>
</div>