.med_img_class {
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 50px;
    max-height: 70px;
    min-width: 50px;
    min-height: 70px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    float: left;
}

.med_cont {
    border-color: white;
    border-width: 1px;
    border-style: solid;
    min-width: auto;
    max-height: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px; 
    background-color: white;
    
}

.med_name_class {
    text-align: center;
    margin: 5px 10px 10px 5px;
    /* border-color: black;
    border-width: 1px;
    border-style: solid; */
    flex-grow: 0;
}

.med_short_present_text {
    overflow-y:auto;
    /* min-width: auto; */
    flex-grow: 1;
    /* max-width: 100%; */
    /* max-height: 100%; */
    text-indent: 3ch;
}

.med_schedule_meeting {
    color: blue;
    flex-grow: 0;
    cursor: pointer;
}

.med_schedule_meeting:hover,
.med_schedule_meeting:visited {
    color: #0a1e33;
}