.user_menu_panel {
    display: grid;
    grid-template-columns: 32px max-content;
    background-color: rgb(210, 230, 230);
    color: #333;
    border-width: 0px;
  }

  .user_menu_panel_ctx {
    opacity: 0;
    visibility: hidden;
  }

  .user_menu_panel>a {
    margin-left: 5px;
    margin-right: 10px;
    grid-column: 2;
  }
  
  .user_menu_panel_ctx_visible {
    position: absolute;
    right: 0;
    z-index: 1000000;
    opacity: 1;
    visibility:visible;
    transition: visibility 0s linear 120ms,opacity 120ms ease;
  }
