/* You can add global styles to this file, and also import other style files */
body, html {
    height:100%;
    margin:0 0 0 0;
    padding: 0 0 0 0;
}

.ltr_row_flow {
    flex-flow: row;
}

.rtl_row_flow {
    flex-flow: row-reverse;
}

.direction_ltr {
    direction: ltr;
}

.direction_rtl {
    direction: rtl;
}
