.user_cont {
    display: grid;
    grid-template-columns: min-content max-content;
}

.user_panel_side {
    display: grid;
    grid-template-rows: min-content max-content;
    background-color: rgb(210, 230, 230);
}